a {
    text-decoration: none;
    color: blue;
}
/* title */
.title_main {
    font-size: xx-large;
    text-align: center;
    color: white;
}

.title_sub {
    font-size: large;
    text-align: center;
    color: white;
}

.bg_main {
    background-color: #88abda;
    padding: 10%;
}

/* navigation */
.navigation {
    width: 25%;
    float: left;
    margin: 2% 2% 2% 0;
}

.btn_navigation {
    background-color: #e9e9e9;
    color: black;
    padding: 5% 2%;
    text-align: center;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

/* content */
.bg_content {
    font-size: large;
    line-height: 250%;
    float: left;
    width: 70%;
    padding: 1%;
    overflow: hidden;
}

.location {
    float: left;
    margin: 2%;
    color: grey;
}

.content_title {
    color: #88abda;
    text-align: center;
    font-size: x-large;
    margin: 2%;
}

.content_title_sub {
    font-size: larger;
    color: #88abda;
    background-color: #f5f5f5;
    padding-left: 5%;
}

.content_result_title {
    font-size: larger;
    text-align: center;
    color: #88abda;
    border: 3px solid #88abda;
    width: 81%;

}

.content_result_value {
    float: left;
    text-align: center;
    border: 1px solid #88abda;
    width: 27%;
}

.content_txp {
    font-size:  small;
    margin: 0 auto;
    color: black;
}

.content_member_bg {
    font-size: larger;
    color: #88abda;
    background-color: #f5f5f5;
    padding: 2%;
    margin-bottom: 3%;
}

/* foot */
.bg_foot {
    background-color: #e9e9e9;
    padding: 5% 0 5% 0;
}

.bg_foot_p {
    float: left;
    margin-left: 10%;
    width: 40%;
}

.title_foot {
    font-size: larger;
    color: #88abda;
}